:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-light-color: #F5F4FA;
}

body {
    background-color: white;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    }

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

/* Logo */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
   }

.page-header .logo {
    color: #000000;
    margin-right: 93px;
    }

.footer .logo {
        color: white;
        display: block;
        margin-bottom: 20px;
        }

.logo .accent {
    color: var(--accent-color);
}

/* Button */

.button {
    display: inline-block;
    border-radius: 4px;
   
    color: white;
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    text-align: center;
}

.button.primary {
    min-width: 200px;
    padding: 10px 32px;

    color: white;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.button.secondary {

    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--secondary-light-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
   }


/* Site nav */
nav {
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav a{
color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
    }

.contact-nav {
display: flex;
margin-left: auto;
}

.contact-nav .item + .item {
    margin-left: 50px;
}
.contact-nav a{
    color: #757575;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--accent-color);
    }
    
/* footer */

address {
    font-style: normal;
 }

.footer {
    background-color: #2F303A;
}


.actual-address {
    color: white;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contact-footer .item + .item {
    margin-top: 9px;
}

.contact-footer a:hover,
.contact-footer a:focus {
    color: var(--accent-color);
    }
/* hero */

.hero {
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: #FFFFFF;
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }

/* section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
        margin-top: 0;
        margin-bottom: 50px;
        color: var(--title-text-color);
        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }

/* features */

.feature-list {
    display: flex;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
}

/* team */

.team {
    background-color: var(--secondary-light-color);
}

.team-list .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-list .text {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.18;
}

/* Prtfolio style */

.filter-section button:hover,
.filter-section button:focus {
    color: white;
    background-color: var(--accent-color);
}
 
.filter-section{
    display: flex;
    
    margin-bottom: 50px;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-list img {
    margin-top: 0;
    margin-bottom: 20px;
}


.portfolio-list .title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
   }

   .portfolio-list .text {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.87;
   }